.PageContainer {
  width: 100%;
  height: 100%;

  .content {
    display: flex;
    flex-direction: row;
    background-color: #F9F9F9;

    .children {
      margin: 4rem 4rem 4rem 9rem;
      width: 100%;
    }
  }
}